<!doctype html>
<html>
<head>
  <!-- ... -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="../styles/main.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script
  async
  src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@16.1.0/dist/lazyload.min.js">
  </script>


  <style type="text/css">
	.pic_pos{
		float: left;
		height: 400px;
		width: 400px;
		margin-left: 7%;
		margin-top: 5%;

	}

	#recipe_heading{
		-ms-transform: rotate(55deg); 
		  -ms-transform-origin: 20% 40%; 
		  transform: rotate(-25deg);
		  transform-origin: 90% 65%;
	}

	.content_pos{
		float: right;
		margin-right: 30%;
		margin-top: 5%;

	}

	.background_color_matcher{
		background-color: #fff7d0;
	}

	.ingredients_box{
		margin-top: 5%;
		margin-right: 10%;
		float: right; 
		width: 49%;
		height: 300px;
		overflow: scroll;
		
	}
	.table {
	border-spacing: 0 15px;
}

i {
	font-size: 1rem !important;
}

.table tr {
	border-radius: 20px;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
	border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
	border-radius: .625rem 0 0 .625rem;
}


#instruction_table{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

.instr_table_cont{
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

</style>

</head>
<body class="bg-blue-50 overflow-x-hidden">
    <!-- Header Navigation Section -->
    <header>
        <nav class="bg-white shadow-lg">
			<div class="max-w-6xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="flex space-x-7">
						<div>
							<!-- Website Logo -->
							<a href="#" class="flex items-center py-4 px-2">
								<img src="../assets/images/logo-display.svg" alt="Logo">
							</a>
						</div>
					</div>
					<!-- Secondary Navbar items -->
					<div class="hidden md:flex items-center space-x-3 ">
                        <a href="home.html" class="py-4 px-2 text-base font-regular primary-color">Home</a>
						<a href="" class="py-4 px-2 text-base font-regular primary-color">Contact Us</a>
						<a id="nav-profile-img" href="profile.html" class="none md:visible"><img id="nav-profile-img-icon" class="h-9 w-9 rounded-full object-cover items-center justify-content" src='../assets/images/default-profile.jpeg' /></a>
						<a id="nav-login-btn" href="login.html" class="py-2 px-2 text-base font-regular primary-color">Log In</a>
						<a id="nav-signup-btn" href="signup.html">
						<button class="bg-blue-600 hover:bg-blue-700 text-white text-base font-regular py-2 px-4 rounded">
                            Sign Up
                        </button>
						</a>
					</div>
					<!-- Mobile menu button -->
					<div class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-gray-500 hover:text-blue-600"
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
					</div>
				</div>
			</div>
			<!-- mobile menu -->
			<div class="hidden mobile-menu">
				<ul class="">
					<li id="nav-profile-img-mobile"><a href="profile.html" class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300 text-base font-regular">Profile</a></li>
					<li class="active"><a href="home.html" class="block text-sm px-2 py-4 text-white bg-blue-600 text-base font-regular">Home</a></li>
					<li><a href="#services" class="block text-sm px-2 py-4 hover:bg-blue-600 transition duration-300 text-base font-regular">Contact Us</a></li>
					<li id="nav-login-btn-mobile"><a href="login.html" class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300 text-base font-regular">Log In</a></li>
					<li id="nav-signup-btn-mobile"><a href="signup.html" class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300 text-base font-regular">Sign Up</a></li>
				</ul>
			</div>
			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
			</script>
		</nav>
    </header>

    <!--Dish Details-->
	<div>
		<div class="flex pt-5 md:pt-12 justify-center">
			<div class="bg-white md:h-96 w-11/12 md:w-7/10 md:mx-8 md:flex md:max-w-5xl shadow-lg rounded-lg">
				<div class="md:w-1/2 h-64 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:rounded-bl-lg md:h-auto overflow-hidden">
					<img id="dish-page-image" class="object-cover" src="../assets/images/default-profile.jpeg" />
					<!-- <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url(butterChicken.jpeg)"></div> -->
				</div>
				<div class="mb-4 pt-5 px-6 max-w-xl md:max-w-5xl md:w-1/2" style="overflow: scroll">
					<h2 id="dish-page-name" class="text-3xl font-medium text-blue-600">Butter Chicken</h2>
					<span id="dish-page-prep-time" class="bg-green-400 text-gray-50 text-sm font-light rounded-md px-2 py-1">30 min</span>
					<span id="dish-page-cuisine-type" class="bg-green-400 text-gray-50 text-sm font-light rounded-md px-2 py-1">Indian</span>
					<p id="dish-page-ingredients" class="mt-4 text-gray-600 text-base font-regular">
						<!-- <span><li class="text-base font-regular">1/2 cup Boiled Capsicum</li></span>
						<span><li>Half kg boneless chicken</li></span>
						<span><li>400gm chicken broth</li></span>
						<span><li>half cut potatoes</li></span>
						<span><li>Fine cut 2-3 onions and garlic</li></span>
						<span><li>100gm Ginger garlic paste</li></span>
						<span><li>¼ cup unsalted butter</li></span>
						<span><li>¼ cup vegetable shortening</li></span>
						<span><li>1 ¼ teaspoons ground cinnamon</li></span>
						<span><li>1 cup golden raisins, optional</li></span>
						<span><li>1 teaspoon cider or white vinegar*</li></span>
						<span><li>½ teaspoon baking soda</li></span>
						<span><li>1 large egg</li></span>
						<span><li>¼ cup granulated sugar</li></span>
						<span><li>⅛ teaspoon ground nutmeg</li></span> -->
					</p>
				   
				</div>
			</div>
		</div> 
	</div>
	
	<!-- end of ingredients box-->
	
	<!-- start of dish directions box -->
	
	<div">
		<div class="py-5 flex justify-center">
			<div class="bg-white w-11/12 md:w-7/10 md:mx-8 md:flex md:max-w-5xl shadow-lg rounded-lg">
				<div class="pt-5 px-6 max-w-xl lg:max-w-5xl mb-4">
					<h2 class="text-2xl font-medium text-blue-600">Directions<span class="text-indigo-600"></span></h2>
					<span class="bg-green-400 text-gray-50 text-sm font-light rounded-md px-2 py-1">Instructions</span>
					<span id="dish-page-video-present" class="hidden bg-green-400 text-gray-50 text-sm font-light rounded-md px-2 py-1">Video</span>
					 <p id="dish-page-direction-text" class="mt-4 font-regular text-base">
						 Prepare the vinaigrette first. Whisk together the tomato paste, red wine vinegar, basil, garlic powder, sugar, salt, and pepper in a bowl until smooth. Begin to whisk in the olive oil, one tablespooon at a time, until fully incorporated. Set the vinaigrette aside.
						 <br><br>
						 Cook the rotini pasta according to the package directions (boil for 7-10 minutes, or until tender). Drain the pasta in a colander. Rinse briefly with cool water to cool off the pasta. Drain well.
						 <br><br>
						 Once the pasta has drained, transfer it to a large bowl. Add the chopped broccoli, red onion, and sunflower seeds. Crumble the feta over top. Drizzle the dressing into the bowl and then gently toss the ingredients until they are evenly combined and everything is coated in dressing. Serve immediately or refrigerate until ready to eat.
					 </p>
	<!-- video section -->
	
					 
				<video id="dish-page-video" class="lazyloadvideo hidden mt-4 display-none" controls>
				  <!-- <source id="dish-page-video-source" src="http://localhost:8000/videos/JSSYOIwFsnT3msIYjLzYDLHoNiTzHycgybF01GdZ.mp4" type="video/mp4"> -->
				  Your browser does not support the video tag.
				</video>

				<div class="flex flex-row mt-8">
					<img id="dish-page-owner-image" class="w-14 md:w-20 h-14 md:h-20 mr-2 object-cover rounded-full cursor-pointer" src="../assets/images/default-profile.jpeg" />
					<div class="w-8/12 md:w-10/12 ml-2">
						<h2 id="dish-page-owner-name" class="text-gray-800 text-lg font-medium mb-2 cursor-pointer">Ashutosh Hathidara</h2>
						<p id="dish-page-owner-caption" class="text-sm font-light text-gray-600 truncate overflow-ellipsis">The Short Symphony, or Symphony No. 2, is a symphony written by the American composer Aaron Copland from 1931 to 1933. The name derives from its short length of only 15 minutes. The work is dedicated to Copland's friend, the Mexican composer and conductor Carlos Chávez (pictured). The composition contains complex rhythms and polyharmonies, and incorporates the composer's emerging interest in serialism and Mexican music. Copland later arranged the work as a sextet. The symphony was not widely performed during Copland's</p>
					</div>
				</div>

				<div class="mt-8 flex flex-row">
					<svg id="dish-page-like-btn" onClick="toggleLikeButton(this)" class="w-6 h-6 cursor-pointer" fill="#FFFFFF" stroke="#EC4899" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
					<span id="dish-page-num-likes" class="ml-2">0</span>
					<!-- <svg class="w-6 h-6 stroke-current text-pink-500 fill-current text-white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path></svg> -->
				</div>

				</div>

				<!--Like button-->
			</div>
		</div> 
	</div>
	
	
		
	
	<!--  Dish Table -->
	<!--
	<div class=" bg-gray-900">
		<div class="col-span-12">
			<div class="overflow-auto lg:overflow-visible " style="margin-left: 30%">
				<table class="table text-gray-400 border-separate space-y-6 text-sm">
					<thead class="bg-gray-800 text-gray-500">
						<tr>
							<th class="p-3 text-left">User</th>
							<th class="p-3 text-left">Dish Name</th>
							<th class="p-3 text-left">Cuisine</th>
							<th class="p-3 text-left">Prep Time</th>
							<th class="p-3 text-left">Action</th>
							
							
						</tr>
					</thead>
					<tbody>
						<tr class="bg-gray-800">
							<td class="p-3">
								<div class="flex align-items-center">
									<img class="rounded-full h-12 w-12  object-cover" src="https://images.unsplash.com/photo-1613588718956-c2e80305bf61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" alt="unsplash image">
									<div class="ml-3">
										<div class="">James</div>
										<div class="text-gray-500">Novice</div>
									</div>
								</div>
							</td>
							<td class="p-3">
								Butter Chicken
							</td>
							<td class="p-3 font-bold">
								Indian
							</td>
							<td class="p-3">
								<span class="bg-green-400 text-gray-50 rounded-md px-2">30 min</span>
							</td>
							<td class="p-3 ">
								<a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
									<i class="material-icons-outlined text-base">star</i>
								</a>
								<a href="#" class="text-gray-400 hover:text-gray-100  mx-2">
									<i class="material-icons-outlined text-base">share</i>
								</a>
								
							</td>
						</tr>
					</tbody>
				</table>
				-->
	<!-- </div>
		</div> -->
	


	<!--Comments-->
	<div class="py-5 flex justify-center">
	<div class="w-11/12 md:w-7/10 md:mx-8 md:flex md:max-w-5xl shadow-lg rounded-lg">
		<form class="w-full bg-white rounded-lg px-4 pt-2">
		   <div class="flex flex-wrap -mx-3 mb-6">
			  <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg font-medium">Add a new comment</h2>
			  <div class="w-full md:w-full px-3 mb-2 mt-2">
				 <textarea id="dish-new-comment-text" class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-regular placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required></textarea>
			  </div>
			  <div class="w-full md:w-full flex items-start md:w-full px-3">
				 <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
					<svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
					   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
					</svg>
					<p class="text-xs md:text-sm pt-px">You must be logged in to comment.</p>
				 </div>
				 <div class="-mr-1">
					<input onClick="onCommentSubmitted()" type='submit' class="bg-blue-600 text-white font-medium py-1 px-4 border rounded-lg tracking-wide mr-1 hover:bg-blue-700 cursor-pointer" value='Post Comment'>
				 </div>
			  </div>
		   </form>

		   <!--Previously added comments-->
		   <p id="dish-no-comments" class="mx-auto text-center text-sm font-medium text-gray-400 mt-4">No Comments</p>
		   <div id="dish-comments" class="w-full px-4 pt-2 pb-2 mt-4">
			   <!-- <div class="flex flex-row w-full p-2">
					<img class="w-14 md:w-20 h-14 md:h-20 mr-2 object-cover rounded-full cursor-pointer" src="../assets/images/default-profile.jpeg" />
					<div class="ml-2">
						<h2 class="text-gray-800 text-lg font-medium mb-2 cursor-pointer">Ashutosh Hathidara</h2>
						<p class="font-regular text-gray-600">The Short Symphony, or Symphony No. 2, is a symphony written by the American composer Aaron Copland from 1931 to 1933. The name derives from its short length of only 15 minutes. The work is dedicated to Copland's friend, the Mexican composer and conductor Carlos Chávez (pictured). The composition contains complex rhythms and polyharmonies, and incorporates the composer's emerging interest in serialism and Mexican music. Copland later arranged the work as a sextet. The symphony was not widely performed during Copland's</p>
					</div>
				</div> -->
		   </div>
		</div>
	 </div>
	</div>
    

    <script type="text/javascript" src='../scripts/loginHandler.js'></script>
	<script type="text/javascript" src='../scripts/dishPageHandler.js'></script>

</body>
</html>