<!doctype html>
<html>
<head>
  <!-- ... -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="../styles/main.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body class="bg-blue-50 overflow-x-hidden">
    <!-- Header Navigation Section -->
    <header>
        <nav class="bg-white shadow-lg">
			<div class="max-w-6xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="flex space-x-7">
						<div>
							<!-- Website Logo -->
							<a href="#" class="flex items-center py-4 px-2">
								<img src="../assets/images/logo-display.svg" alt="Logo">
							</a>
						</div>
					</div>
					<!-- Secondary Navbar items -->
					<div class="hidden md:flex items-center space-x-3 ">
                        <a href="home.html" class="py-4 px-2 text-base font-regular primary-color">Home</a>
						<a href="" class="py-4 px-2 text-base font-regular primary-color">Contact Us</a>
						<a id="nav-profile-img" href="profile.html" class="none md:visible"><img id="nav-profile-img-icon" class="h-9 w-9 rounded-full object-cover items-center justify-content" src='../assets/images/default-profile.jpeg' /></a>
						<a id="nav-login-btn" href="login.html" class="py-2 px-2 text-base font-regular primary-color">Log In</a>
						<a id="nav-signup-btn" href="signup.html">
						<button class="bg-blue-600 hover:bg-blue-700 text-white text-base font-regular py-2 px-4 rounded">
                            Sign Up
                        </button>
						</a>
					</div>
					<!-- Mobile menu button -->
					<div class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-gray-500 hover:text-blue-600"
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
					</div>
				</div>
			</div>
			<!-- mobile menu -->
			<div class="hidden mobile-menu">
				<ul class="">
					<li id="nav-profile-img-mobile"><a href="profile.html" class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300 text-base font-regular">Profile</a></li>
					<li class="active"><a href="home.html" class="block text-sm px-2 py-4 text-white bg-blue-600 text-base font-regular">Home</a></li>
					<li><a href="#services" class="block text-sm px-2 py-4 hover:bg-blue-600 transition duration-300 text-base font-regular">Contact Us</a></li>
					<li id="nav-login-btn-mobile"><a href="login.html" class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300 text-base font-regular">Log In</a></li>
					<li id="nav-signup-btn-mobile"><a href="signup.html" class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300 text-base font-regular">Sign Up</a></li>
				</ul>
			</div>
			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
			</script>
		</nav>
    </header>

    <!--Dish Details-->


	<!--Comments-->
	<div class="flex mx-auto items-center justify-center shadow-lg mb-4 w-11/12 md:w-8/12">
		<form class="w-full bg-white rounded-lg px-4 pt-2">
		   <div class="flex flex-wrap -mx-3 mb-6">
			  <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg font-medium">Add a new comment</h2>
			  <div class="w-full md:w-full px-3 mb-2 mt-2">
				 <textarea id="dish-new-comment-text" class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-regular placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required></textarea>
			  </div>
			  <div class="w-full md:w-full flex items-start md:w-full px-3">
				 <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
					<svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
					   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
					</svg>
					<p class="text-xs md:text-sm pt-px">You must be logged in to comment.</p>
				 </div>
				 <div class="-mr-1">
					<input onClick="onCommentSubmitted()" type='submit' class="bg-blue-600 text-white font-medium py-1 px-4 border rounded-lg tracking-wide mr-1 hover:bg-blue-700 cursor-pointer" value='Post Comment'>
				 </div>
			  </div>
		   </form>

		   <!--Previously added comments-->
		   <p id="dish-no-comments" class="mx-auto text-center text-sm font-medium text-gray-400 mt-4">No Comments</p>
		   <div id="dish-comments" class="w-full px-4 pt-2 pb-2 mt-4">
			   <!-- <div class="flex flex-row w-full p-2">
					<img class="w-14 md:w-20 h-14 md:h-20 mr-2 object-cover rounded-full cursor-pointer" src="../assets/images/default-profile.jpeg" />
					<div class="ml-2">
						<h2 class="text-gray-800 text-lg font-medium mb-2 cursor-pointer">Ashutosh Hathidara</h2>
						<p class="font-regular text-gray-600">The Short Symphony, or Symphony No. 2, is a symphony written by the American composer Aaron Copland from 1931 to 1933. The name derives from its short length of only 15 minutes. The work is dedicated to Copland's friend, the Mexican composer and conductor Carlos Chávez (pictured). The composition contains complex rhythms and polyharmonies, and incorporates the composer's emerging interest in serialism and Mexican music. Copland later arranged the work as a sextet. The symphony was not widely performed during Copland's</p>
					</div>
				</div> -->
		   </div>
		</div>
	 </div>
    

    <script type="text/javascript" src='../scripts/loginHandler.js'></script>
	<script type="text/javascript" src='../scripts/dishPageHandler.js'></script>

</body>
</html>