@import url('./fonts.css');

.primary-color {
    color: #2563EB;
}

.primary-color:hover {
    color: #1D4ED8;
}

.profile {
    width: 45px;
    height: auto;
}

.font-black {
    font-family: 'Product Sans';
    font-weight: 900;
    font-style: normal;
}

.font-bold {
    font-family: 'Product Sans';
    font-weight: bold;
    font-style: normal;
}

.font-regular {
    font-family: 'Product Sans';
    font-weight: normal;
    font-style: normal;
}

.font-medium {
    font-family: 'Product Sans';
    font-weight: 500;
    font-style: normal;
}

.font-thin {
    font-family: 'Product Sans';
    font-weight: 100;
    font-style: normal;
}

.font-light {
    font-family: 'Product Sans';
    font-weight: 300;
    font-style: normal;
}

.modal {
    transition: opacity 0.25s ease;
  }

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

@keyframes fadeInTop {
	from {
		transform: translate3d(0, -20%, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInBottom {
	0% {
		transform: translateY(100px);
	}
	100% {
		transform: translateY(0);
	}
}

 .fadeInTop {
    -webkit-animation: fadeInTop 2s ease;
    animation: fadeInTop 2s ease;
 }

 .slideInBottom {
     -webkit-animation: slideInBottom 2s ease;
     animation: slideInBottom 2s ease;
 }